.header {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.header a {
    color: white;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    padding: 26px 10px;
}

.header a[class='active'] {
    color: red;
}

.footer {
    height: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: right;
    padding: 20px;
}

.outlet {
    padding: 0 20px;
    margin: 0 auto;
    height: calc(100vh - 160px);
    overflow: hidden;
    overflow-y: auto;
    background-color: gainsboro;
}